*.py linguist-detectable=true linguist-language=Python
*.html linguist-detectable=true linguist-language=HTML
*.css linguist-detectable=true linguist-language=CSS
*.js linguist-detectable=true linguist-language=JavaScript

